<!DOCTYPE html>
<html >
<head>
    <title>Document</title>
</head>
<body>
    <h1>Top Tracks</h1>
    <% for (let i = 0; i < topTracks.length; i++) {%>
        <h1><%= topTracks[i] %></h1>
    <%}%>
</body>
</html>