<html lang="en">

<head>
    <title>Spotify Profile V1</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
</head>

<body class="container ">

    <h2 class="title">Spotify Profile v1</h2>

    <div class="row text-center">

        <div class="col-lg-4">
           <!-- <h5 class="quote"">WITHOUT MUSIC, <br>LIFE WOULD BE A MISTAKE</h5> -->
        </div>

        <div class="col-lg-4 ">
            
            <a href="<%= AuthorizeURL %>" class=" btn butn " >Login to Spotify</a>
            
        </div>

        <div class="col-lg-4 ">
            
        </div>

    </div>

    <footer class="text-center">
    </footer>
    

</body>

</html>